#number{
    height: 350px;
}
#number .number-list{
    margin: 0px 313px;
    display: flex;
    text-align: center;
    padding-top: 140px;
    width: 800px;
    justify-content: space-between;
}
#number .number-list-total{
    font-size: 35px;
    color: #666;
}
#number .number-list-item{
    font-size: 15px;
    color: #706d6b;
}